<a href="https://colab.research.google.com/github/aaniaahh/DataScience-2025/blob/main/Completed/06-Working_with_Data/03_loading_and_exploring_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìÇ Notebook 03: Loading and Exploring Data
Welcome to the real world ‚Äî where data lives in messy CSVs and your job is to make sense of it.

In this notebook, you‚Äôll:
* Load a CSV file using `pd.read_csv()`
* Use `.head()`, `.tail()`, `.info()`, and `.describe()` to explore your data
* Identify potential issues (missing values, bad types, oddball rows)

## Let‚Äôs get our hands dirty.

In [ ]:
import pandas as pd

## üì• Load a CSV
Replace the filename below with a real CSV path or URL. For testing, use built-in seaborn datasets.

In [ ]:
# Example with seaborn's Titanic dataset
import seaborn as sns
df = sns.load_dataset("titanic")
df.head()

## üìä Peek at the Data

In [ ]:
# First and last few rows
print("First 5 rows:")
print(df.head())

print("\nLast 5 rows:")
print(df.tail())

## üß† Understand Structure

In [ ]:
# Dimensions and columns
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())

## üßº Data Types & Missing Values

In [ ]:
# Data types and null counts
print("\nInfo:")
df.info()

# How many missing values per column?
print("\nMissing values per column:")
print(df.isnull().sum())

## üìà Summary Statistics

In [ ]:
df.describe(include="all")

## ‚úèÔ∏è Renaming Columns (Optional but fun)

In [ ]:
# Rename 'sex' to 'gender' for clarity
df.rename(columns={"sex": "gender"}, inplace=True)
df.head(2)

## üîç Your Turn
1. Load a dataset of your choice (`pd.read_csv()` or `sns.load_dataset()`)
2. Print the first and last 5 rows.
3. Show `.info()` and `.describe()` results.
4. Print the column names. Rename one of them.

üéØ **Bonus**: What percentage of rows have any missing values?

HINT: df.isnull().any(axis=1).mean() * 100  # percent of rows with any NaNs

In [1]:
import pandas as pd
import seaborn as sns

# 1Ô∏è Load a dataset of your choice
df = sns.load_dataset("penguins")

# 2Ô∏è Print the first and last 5 rows
print("First 5 rows:")
print(df.head(), "\n")

print("Last 5 rows:")
print(df.tail(), "\n")

# 3Ô∏è Show .info() and .describe() results
print("DataFrame Info:")
print(df.info(), "\n")

print("Descriptive Statistics:")
print(df.describe(), "\n")

# 4Ô∏è Print column names and rename one
print("Original Columns:", df.columns.tolist(), "\n")

# Rename a column (for fun üòà)
df.rename(columns={"species": "bird_type"}, inplace=True)
print("Renamed Columns:", df.columns.tolist(), "\n")

# BONUS: Percentage of rows with any missing values
missing_percent = df.isnull().any(axis=1).mean() * 100
print(f"Percentage of rows with missing values: {missing_percent:.2f}%")

First 5 rows:
  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

Last 5 rows:
    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
339  Gentoo  Biscoe             NaN            NaN                NaN
340  Gentoo  Biscoe            46.8           14.3              215.0
341  Gentoo  Biscoe            50.4           15.7              222.0
342  Gentoo  Biscoe            45.2           14.8              212.0
343  Gentoo  Biscoe            49.9           16.1              213.0

     body_mass_g     sex
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

Descriptive Statistics:
       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

Original Columns: ['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']

Renamed Columns: ['bird_type', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']

Percentage of rows with missing values: 3.20%