<a href="https://colab.research.google.com/github/aaniaahh/DataScience-2025/blob/main/Completed/01_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò 01 - For Loops
Learn how to use `for` loops to iterate over sequences.

## ‚úÖ Learning Goals
* Use for with lists, strings, and range()
* Understand loop variables and block structure

In [ ]:
# üîÅ Loop over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
# üîÅ Loop over characters in a string
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [ ]:
# üîÅ Using range()
for i in range(5):
    print(i)

In [ ]:
# ‚ûï Loop with math
for i in range(1, 6):
    print(f'{i} squared is', i ** 2)

## ‚úèÔ∏è Your Turn
Loop over a list of 3 favorite movies and print them in all caps.

In [ ]:
movies = ['Major Payne', 'Norbit', 'ATL']
for movie in movies:
    print(movie.upper())

MAJOR PAYNE
NORBIT
ATL